<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.dao.TeamBeanMapper">
  <resultMap id="BaseResultMap" type="com.xiaomi.bean.TeamBean">
    <constructor>
      <idArg column="teamId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="teamName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="teamAge" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="championNumber" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ballHall" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="toalMatch" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="victoryNumber" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>

</mapper>